@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Medium.otf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Semibold.otf") format("truetype");
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Bold.otf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }